{% extends 'base.html' %}

{% block title %}Импорт оплаты Uber успешен{% endblock %}

{% block content %}
    <h1>Импорт данных об оплате Uber завершен</h1>

    {% if uber_payments %}
        <table>
            <thead>
            <tr>
                <th>Имя водителя</th>
                <th>Фамилия водителя</th>
                <th>Неделя</th>
                <th>Начало недели</th>
                <th>Конец недели</th>
                <th>Общий заработок</th>
                <th>Наличные</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in uber_payments %}
                <tr>
                    <td>{{ payment.driver.first_name }}</td>
                    <td>{{ payment.driver.last_name }}</td>
                    <td>{{ payment.week_number }}</td>
                    <td>{{ payment.week_start }}</td>
                    <td>{{ payment.week_end }}</td>
                    <td>{{ payment.total_earnings }}</td>
                    <td>{{ payment.cash_collected }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет данных для отображения.</p>
    {% endif %}

    <a href="{% url 'import_uber_csv' %}">Вернуться к форме импорта</a>

{% endblock %}
